@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*>*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: black;
}

:root{
  --color-yellow:#F5E92C;
  --color-purple:#9A1BF8;
}

.App {
  text-align: center;
  padding: 1em 0;
}

.bg-y{
  background-color: var(--color-yellow);
}

.bg-p{
  background-color: var(--color-purple);
}

.Logo{
  height: 150px;
  width: 150px;
}

.chart .title{
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  margin-left: auto;
  margin-right: auto;
}

.form-input{

  /* Way to add tailwind in css file */
  @apply mt-1 block w-full py-2 px-3 border border-gray-200 bg-white rounded-md focus:outline-none focus:ring-indigo-500 sm:text-sm;  
}

.cl{
  margin-left: 0;
  margin-top: 0;
  padding-left: 1em;

}

.cl img{
  height: 70px;
  width: 70px;
}

.Finan{
  background-color: #000066;
  color: whitesmoke;
}

/* .Finan{
  background-color: rgba(255, 255, 255, 0.527);
  color: #000066;
} */

/* .Finan .Logo{
  height: 70px;
  width: 70px;
} */


.btn{
  margin-right: 0;
}